@using Microsoft.AspNet.Identity
@model zabawa_z_gitem.Models.SearchModel
@{
    ViewBag.Title = "Search Engine";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            @using (Html.BeginForm("Index", "Search", FormMethod.Get, new {role = "search", @class = "navbar-form"}))
            {          
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">#</span>
                    <input type="text" name="UserId" value=@User.Identity.GetUserName() hidden>
                    @Html.TextBoxFor(item =>item.SerachString, new {@class="form-control", placeholder="Search"})
                    
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Search</button>
            }

        </div>

        <div class="col-md-4"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-4">

            @if (Model.SearchResuts.Any())
            {
                foreach (var file in Model.SearchResuts)
                {
                    <h4>
                        @foreach (var str in file.NumberOfStrings)
                        {
                            @Html.Raw(str.Key) <span class="label label-default">@Html.Raw(str.Value)</span>
                        }
                    </h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="~/Data/@file.Name" target="_blank">@file.Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <span class="label label-warning">Brak skojarzonych plików</span>
            }

        </div>
    </div>
</div>
