@using Microsoft.AspNet.Identity
@model zabawa_z_gitem.Models.SearchModel
@{
    ViewBag.Title = "Search Engine";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            @using (Html.BeginForm("Index", "Search", FormMethod.Get, new {role = "search", @class = "navbar-form"}))
            {          
                <div class="input-group input-group-lg">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Folder <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="trigger right-caret">Level 1</a>
                                <ul class="dropdown-menu sub-menu">
                                    <li><a href="#">Level 2</a></li>
                                    <li>
                                        <a class="trigger right-caret">Level 2</a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li><a href="#">Level 3</a></li>
                                            <li><a href="#">Level 3</a></li>
                                            <li>
                                                <a class="trigger right-caret">Level 3</a>
                                                <ul class="dropdown-menu sub-menu">
                                                    <li><a href="#">Level 4</a></li>
                                                    <li><a href="#">Level 4</a></li>
                                                    <li><a href="#">Level 4</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Level 2</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Level 1</a></li>
                            <li><a href="#">Level 1</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                    <input type="text" name="UserId" value=@User.Identity.GetUserName() hidden>
                    @Html.TextBoxFor(item =>item.SerachString, new {@class="form-control", placeholder="Search"})
                    
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Search</button>
            }

        </div>

        <div class="col-md-4"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-4">

            @if (Model.SearchResuts.Any())
            {
                foreach (var file in Model.SearchResuts)
                {
                    <h4>
                        @foreach (var str in file.NumberOfStrings)
                        {
                            @Html.Raw(str.Key) <span class="label label-default">@Html.Raw(str.Value)</span>
                        }
                    </h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="~/Data/@User.Identity.Name/@file.Name" target="_blank">@file.Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <span class="label label-warning">Brak skojarzonych plików</span>
            }

        </div>
    </div>
</div>

<script>
    $(function () {
        $(".dropdown-menu > li > a.trigger").on("click", function (e) {
            var current = $(this).next();
            var grandparent = $(this).parent().parent();
            if ($(this).hasClass('left-caret') || $(this).hasClass('right-caret'))
                $(this).toggleClass('right-caret left-caret');
            grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
            grandparent.find(".sub-menu:visible").not(current).hide();
            current.toggle();
            e.stopPropagation();
        });
        $(".dropdown-menu > li > a:not(.trigger)").on("click", function () {
            var root = $(this).closest('.dropdown');
            root.find('.left-caret').toggleClass('right-caret left-caret');
            root.find('.sub-menu:visible').hide();
        });
    });
</script>