@model dynamic
@{
    ViewBag.Title = "Search Engine";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <form class="navbar-form navbar-fixed-top" role="search">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">#</span>
                    <input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon1">
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">



                </div>
            </div>
        </div>
    </div>

    <h1>slowo 1 <span class="label label-default">20</span>slowo 2 <span class="label label-default">24</span></h1>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="newsletter_01.pdf" target="_blank">link</a>
                </div>
            </div>
        </div>
    </div>
</div>
