<!DOCTYPE html>
<html>
<head>
    <title></title>
   
    <link href="~/Data/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Data/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Data/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Data/css/line-icons.css" rel="stylesheet" />
    <link href="~/Data/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Data/css/style.css" rel="stylesheet"/>
    <script src="~/Data/bootstrap.js"></script>
    <script src="~/Data/jquery.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
@Html.Partial("_LoginPartial")
@RenderBody();

</body>
</html>