@{
    ViewBag.Title = "Jak to działa";
}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Jak to działa</h2>
            <p>
                Repozytorium ma ułatwić szukanie w dużych zbiorach dokumentów pdf, txt oraz docx. Każdy użytkownik może zarządzać swoim zbiorem
                plików tekstowych za pomocą panelu <b>Moje Pliki</b>, a następnie wyszukiwać podaną frazę za pomocą panelu <b>Szukaj</b>
                . Kolejne wyrazy wypisujemy,
                separatorem może być znak spacji. W wyniku otrzymujemy częstość występowania danego słowa w konkretnych dokumentach. Dokumenty będą ustawione w kolejności
                najlepszego dopasowania do szukanego ciągu(Ta funkcjonalość dostępna niedługo). Algorytm repozytorium działa tylko z plikami tekstowymi, wiec wszelkie skany np:
                w plikach pdf niestety nie bedą uznane za tekst.
            </p>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>